.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  height: 150px;
  object-fit: contain;
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.hover-effect {
  cursor: pointer;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination .page-link {
  cursor: pointer;
}
